%boxBase {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  background: #FFF;
}

%boxMainBase {
  @extend %boxBase;

  &.boxSizeSmall {
    width: 232px;

    .contTitle {
      font-size: 14px;
    }
  }
  &.boxSizeMiddle {
    width: 474px;

    .contTitle {
      font-size: 20px;
    }
  }
  &.boxSizeLarge {
    width: 716px;

    .contTitle {
      font-size: 24px;
    }
  }
  .postType {
    z-index: 100;
    text-align: right;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    color: #333;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9em;
    line-height: 16px;

    &:before {
      display: inline-block;
      margin: -.1em 5px 0 0 ;
      font-size: 16px;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
  a.contInner:hover {
    background: #eee;
    text-decoration: none;
    border-radius: 3px;

    img {
      opacity: .87;
    }
  }
  .contInner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
  }
  .contWrap {

    img {
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 3px 3px 0 0;
    }
    .contText {
      display: block;
      padding: 12px 18px 6px 18px;
      -ms-word-wrap: break-word;
          word-wrap: break-word;
      font-size: 14px;
      line-height: 1.6;

      img {
        margin-top: 10px;
      }
    }
  }
  .postType {
    margin-top: 5px;
    padding: 5px 18px 13px 18px;
    text-align: right;
  }
  .panelComment {
    margin: 16px 17px;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #eee;
    padding: 10px;
    -ms-word-wrap: break-word;
        word-wrap: break-word;
  }
  .videoInner {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    background: #000;
    border-radius: 3px 3px 0 0;

    iframe,
    .fb-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px 3px 0 0;
    }
  }
}
.contBoxMain {
  @extend %boxMainBase;

  .postType:before {
    color: #333;
  }
}
.contBoxMain-cms {
  @extend %boxMainBase;

  .postType {

    &:before {
      @include fontBase(page);
      // color: $fbC;
    }
  }
  .contTitle {
    padding: 0;
    margin: 10px 18px 0 18px;
    font-weight: bold;
    line-height: 1.7;
    display: inline-block;
  }
}
.contBoxMain-rss {
  @extend %boxMainBase;

  .postType {

    &:before {
      @include fontBase(rss);
      color: #FF9140;
    }
  }
}
.contBoxMain-fb {
  @extend %boxMainBase;

  .postType {

    &:before {
      @include fontBase(fb1);
      color: $fbC;
    }
  }
}
.contBoxMain-tw {
  @extend %boxMainBase;

  .postType {
    position: static;
    padding: 0 25px 0 0;
    height: auto;
    background: none;
    color: #333;
    font-size: 11px;
    line-height: 120%;

    img {
      display: inline-block;
      margin-right: 5px;
      width: 28px;
      height: 28px;
    }
    span {
      width: calc(100% - 33px);
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      text-align: left;
      -ms-word-break: break-all;
          word-break: break-all;
    }
  }
  .contWrap {
    padding-top: 0;

    .postDate {
      text-align: right;
    }
  }
  .nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
  }
  footer {
    margin: 0;
    position: relative;
    // border-bottom: 1px solid $borderC;

    &>* {
      display: block;
      padding: 13px 18px;
    }
    &>a:hover {
    background: #eee;
    text-decoration: none;
    }
    .timeLogo {
      position: absolute;
      top: 0;
      margin-bottom: -10px;
      right: 15px;
      padding: 16px 0 0 0;

      .iconTW2_2 {
        width: 19px;
        height: 19px;

        &:before {
          font-size: 19px;
        }
      }
    }
  }
}
.contBoxMain-yt {
  @extend %boxMainBase;

  .postType {

    &:before {
      background: url(../img/sns/iconSnsYT2.png);
      background-size: 16px 16px;
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .contWrap {
    padding-top: 0;
  }
}
.contBoxMain-free {
  @extend %boxMainBase;
  box-sizing: border-box;
  padding: 10px;

  &:before {
    // @include fontBase(fb1);
    color: $fbC;
  }
  &.boxSizeLarge {
    width: 718px;
  }
}
.contBoxMain-ig {
  @extend %boxMainBase;

  .postType {
    padding-left: 0;

    &:before {
      @include fontBase(ig1);
      color: $igC;;
      border-right: none;
    }
  }
}
.contBoxMain-photo {
  @extend %boxMainBase;

  .postType {

    &:before {
      @include fontBase(photo);
      color: #363C62;
    }
  }
  .contWrap {

    .postDate {
      font-size: 12px;
      text-align: right;
      padding: 0 18px 10px 18px;

      img {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
        margin-right: 5px;
      }
    }
  }
}

.contBoxSide {
  @extend %boxBase;
  width: 232px;
  overflow: hidden;

  h1 {
    padding: 10px;
    color: #333;
    font-size: 1.2em;

    img {
      display: block;
      width: 232px;
      margin: -10px;
      height: auto;
    }
  }
  .bannerArea {
    display: block;

    img {
      width: 100%;
    }
  }
  .snsBtns-btn {
    margin: 10px 0 5px;
    display: inline-block;

    li {
      margin-bottom: 5px;
    }
  }
  .btnSet {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
%snsList {

  li {

    a {
      @include cf;
      display: block;
      padding: 5px 10px;
    }
  }
  .snsIcon {
    float: left;

    img {
      margin-right: 5px;
    }
  }
  .snsTitle {
    display: block;
    padding: 3px 0;
    line-height: 1.6;
  }
}
.contBoxSide-snsList {
  @extend .contBoxSide;
  @extend %snsList;

  li {
    border-top: 1px solid $borderC;
  }
}
.sideNavi {
  @extend .contBoxSide;

  li {
    border-top: 1px solid $borderC;

    a,
    span,
    .noPage {
      position: relative;
      display: block;
      line-height: 1.6;
      padding: 7px 5px 7px 16px;

      &:before {
        position: absolute;
        top: 50%;
        display: block;
        content: "";
      }
    }
    .noPage {
      color: #999;
    }
    a:before,
    .noPage:before {
      @include miniArrowBase(right, #bbb, 5px);
      margin: -5px 0 0 2.5px;
      left: 5px;
    }
    span:before {
      @include miniArrowBase(bottom, #bbb, 5px);
      margin: -2.5px 0 0 0;
      left: 2.5px;
    }
  }
  .sideNaviInner {
    background: #f8f8f8;
    border-top: 1px solid #ebebeb;

    &:first-child {
      border-top: none;
    }
    li {
      border-top: none;
    }
    ul {
      margin-left: 15px;
    }
  }
}

.fanCounter {
  padding: 5px;
  border: 5px solid #EEE;
  border-radius: 3px 3px 0 0;

  h1 {
    font-weight: bold;
    background: url(../img/icon/iconFan1.png) no-repeat left center;
    -webkit-background-size: 40px;
            background-size: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 50px;
    margin: 0;

    strong {
      font-weight: bold;
      font-size: 22px;
    }
    &+p {
      margin-top: 10px;
    }
  }
}

.morePanels {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  display: none;
}