@font-face {
    font-family: "font";
    src: url('../font/font.eot#{$queryParameters}');
    src: url('../font/font.eot?#iefix#{$queryParameters}') format('eot'),
         url('../font/font.woff#{$queryParameters}') format('woff'),
         url('../font/font.ttf#{$queryParameters}') format('truetype'),
         url('../font/font.svg#font#{$queryParameters}') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icons: (
    ad: "\E001",
    add-plus: "\E002",
    add: "\E003",
    all: "\E004",
    archive-in: "\E005",
    archive-out: "\E006",
    arrow-bottom: "\E007",
    arrow-follow: "\E008",
    arrow-left-double: "\E009",
    arrow-left-single: "\E00A",
    arrow-right-double: "\E00B",
    arrow-right-single: "\E00C",
    arrow-top: "\E00D",
    attention: "\E00E",
    attract: "\E00F",
    branch-parallel: "\E010",
    branch-serial: "\E011",
    button: "\E012",
    campaign: "\E013",
    cart: "\E014",
    caution: "\E015",
    check1: "\E016",
    check2: "\E017",
    clock: "\E018",
    code: "\E019",
    comment: "\E01A",
    communication: "\E01B",
    contact: "\E01C",
    contents: "\E01D",
    conversion: "\E01E",
    copy: "\E01F",
    coupon: "\E020",
    dashboard: "\E021",
    deadline: "\E022",
    delete: "\E023",
    design: "\E024",
    dotted: "\E025",
    down: "\E026",
    download: "\E027",
    edit: "\E028",
    enquete: "\E029",
    fan: "\E02A",
    fangate: "\E02B",
    favo-action: "\E02C",
    fb1: "\E02D",
    fixed: "\E02E",
    flag: "\E02F",
    follow-facebook: "\E030",
    follow-twitter: "\E031",
    follow-youtube: "\E032",
    follow: "\E033",
    gear: "\E034",
    gift: "\E035",
    gp1: "\E036",
    gp2: "\E037",
    hashtag: "\E038",
    home: "\E039",
    ig1: "\E03A",
    image: "\E03B",
    images: "\E03C",
    in1: "\E03D",
    info: "\E03E",
    instantwin: "\E03F",
    key: "\E040",
    link: "\E041",
    ln1: "\E042",
    ln2: "\E043",
    login: "\E044",
    logout: "\E045",
    mail-close1: "\E046",
    mail-close2: "\E047",
    mail-open: "\E048",
    mail-option: "\E049",
    menu: "\E04A",
    minus: "\E04B",
    mx1: "\E04C",
    newwindow: "\E04D",
    open: "\E04E",
    page: "\E04F",
    photo: "\E050",
    plus: "\E051",
    present: "\E052",
    preview: "\E053",
    question: "\E054",
    radio: "\E055",
    ranking: "\E056",
    re-enquete: "\E057",
    redirect: "\E058",
    replicate: "\E059",
    reply-action: "\E05A",
    resize: "\E05B",
    retweet-action: "\E05C",
    retweet-module: "\E05D",
    rss: "\E05E",
    runing: "\E05F",
    segment: "\E060",
    share: "\E061",
    shipping: "\E062",
    sort: "\E063",
    tag: "\E064",
    text: "\E065",
    title: "\E066",
    trashbox: "\E067",
    tw1: "\E068",
    tw2: "\E069",
    tweet: "\E06A",
    up: "\E06B",
    win: "\E06C",
    write: "\E06D",
    yh1: "\E06E",
    youtube: "\E06F",
);
@each $name, $content in $icons {
    .font-#{$name}:before {
        @include iconFontLeft($name);
    }
}