$fbC: #3b5998;
$twC: #55acee;
$ytC: #cd201f;
$gpC: #DC4E41;
$igC: #3f729b;
$yhC: #fff;
$lnC: #00c300;
$inC: #0077B5;

$iconC1: #383838;
$iconC2: #888;
$iconC3: #2CB395; // green
$iconC4: #F36766; // red

$borderC: #ccc;