@charset "utf-8";
/* ### setting.scss ### */
//======================================================================================================================

// variable
//------------------------------------------------------------------------------
$width: 960px;

// common
//------------------------------------------------------------------------------
%cf {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

%widthCenter {
  width: $width;
  margin: 0 auto;
}
