@charset "UTF-8";
/* ### setting.scss ### */
.ckeditorWrap .whitebelgLayoutWrap:after { display: block; clear: both; content: ''; }

/* ### mixin.scss ### */
/* ### parts.scss ### */
.ckeditorWrap .whitebelgSerif { font-weight: bold; font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-size: 15px; line-height: 1.5; text-shadow: 1px 1px 2px #000; color: #fff; }
.ckeditorWrap .whitebelgSerif b { font-size: 20px; font-weight: bold; }
.ckeditorWrap .whitebelgSerif span { display: inline-block; font-weight: bold; font-size: 15px; }
.ckeditorWrap .whitebelgYellow { color: #fdd000; }
.ckeditorWrap .whitebelgLayoutWrap { margin: 0 0 20px; }
.ckeditorWrap .whitebelgLayoutWrap .whitebelgRightImg { float: right; margin: 0 0 10px 10px; max-width: 110px; display: inline-block; text-align: center; }
.ckeditorWrap .whitebelgLayoutWrap .whitebelgRightImg img { display: block; }
.ckeditorWrap .whitebelgLayoutWrap .whitebelgLeftImg { float: left; margin: 0 10px 10px 0; max-width: 110px; display: inline-block; text-align: center; }
.ckeditorWrap .whitebelgLayoutWrap .whitebelgLeftImg img { display: block; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn { clear: both; padding: 5px 10px 30px; display: table; width: 100%; box-sizing: border-box; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn li { width: 50%; display: table-cell; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnPrev { text-align: left; padding: 0 30px 0 0; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnNext { text-align: right; padding: 0 0 0 30px; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn li a { visibility: hidden; opacity: 0; }
.ckeditorWrap .whitebelgSimpleSliderDirectionBtn li a.whitebelgBtnActive { visibility: visible; opacity: 1; }

/* simple slider modal */
#mpSimpleSliderOverlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.75); }

#mpSimpleSliderModal { position: absolute; left: 20px; right: 20px; }

#mpSimpleSliderModalInner { width: 100%; background: #fff; padding: 20px 20px 40px; position: relative; box-sizing: border-box; }
#mpSimpleSliderModalInner img { max-width: 100%; height: auto; }
#mpSimpleSliderModalInner .mpSimpleSliderEntryPhoto { margin: 0 0 10px; background: none !important; }
#mpSimpleSliderModalInner .mpSimpleSliderEntryPhoto img { display: none; }
#mpSimpleSliderModalInner .mpSimpleSliderEntryPhoto img.mpSimpleSliderEntryPhotoImage { display: block; margin: 0 auto 10px; }
#mpSimpleSliderModalInner .mpSimpleSliderEntryPhoto .mpSimpleSliderEntryTitle { font-weight: bold; }

#mpSimpleSliderModalCloseButton { position: absolute; bottom: 10px; left: 50%; margin-left: -10px; width: 20px; height: 20px; background: url(../img/base/btnCloseModal.gif) 0 0 no-repeat; background-size: 20px 20px; text-indent: -9999px; overflow: hidden; }

/* for PC */
@media screen and (min-width: 641px) { .ckeditorWrap { /* end ckeditop */ }
  .ckeditorWrap .whitebelgSerif { font-size: 18px; }
  .ckeditorWrap .whitebelgSerif b { font-size: 24px; }
  .ckeditorWrap .whitebelgSerif span { font-size: 18px; }
  .ckeditorWrap .whitebelgLayoutWrap { margin: 0 0 35px; }
  .ckeditorWrap .whitebelgLayoutWrap .whitebelgRightImg { float: right; margin: 0 0 10px 20px; max-width: 240px; }
  .ckeditorWrap .whitebelgLayoutWrap .whitebelgLeftImg { float: left; margin: 0 20px 10px 0; max-width: 240px; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn { clear: both; padding: 20px 0 30px; display: table; width: 828px; margin: 0 auto 40px; box-sizing: border-box; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li { width: 50%; display: table-cell; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnPrev img { display: none; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnPrev a { display: inline-block; width: 78px; height: 32px; background: url(../img/index/pc/btnThumbPrev.png); visibility: hidden; opacity: 0; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnPrev a.whitebelgBtnActive { visibility: visible; opacity: 1; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnPrev a.whitebelgBtnActive:hover { opacity: .75; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnNext img { display: none; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnNext a { display: inline-block; width: 78px; height: 32px; background: url(../img/index/pc/btnThumbNext.png); visibility: hidden; opacity: 0; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnNext a.whitebelgBtnActive { visibility: visible; opacity: 1; }
  .ckeditorWrap .whitebelgSimpleSliderDirectionBtn li.whitebelgSimpleSliderDirectionBtnNext a.whitebelgBtnActive:hover { opacity: .75; }
  #mpSimpleSliderModal { left: 50%; right: auto; }
  #mpSimpleSliderModalInner { width: 720px; margin-left: -360px; padding-bottom: 90px; }
  #mpSimpleSliderModalCloseButton { position: absolute; bottom: 30px; left: 50%; margin-left: -20px; width: 40px; height: 40px; background-size: 40px 40px; text-indent: -9999px; overflow: hidden; } }
/* ### page.scss ### */
body > article { padding: 5px !important; background: transparent; width: auto !important; }

.ckeditorWrap { /* top page */ /* society */ /* about seminar */ /* stamp */ /* lecture */ }
.ckeditorWrap .whitebelgSPHidden { display: none; }
.ckeditorWrap .whitebelgTopPage { position: relative; }
.ckeditorWrap .whitebelgTopPageScholarshipBnr { margin: 0 0 15px; }
.ckeditorWrap .whitebelgTopPageTheme { margin: 0 0 20px; }
.ckeditorWrap .whitebelgTopPageTheme p { padding: 0 5px; margin-bottom: 10px; }
.ckeditorWrap .whitebelgTopPageTheme h3 { margin: 0 0 10px; }
.ckeditorWrap .whitebelgTopPageTheme .whitebelgBtnPostPhoto { margin: 0 75px 20px; }
.ckeditorWrap .whitebelgPostedPhotoList { margin: 0 5px 20px; text-align: center; }
.ckeditorWrap .whitebelgPostedPhotoDirectionBtn { clear: both; padding: 5px 10px 30px; display: table; width: 100%; box-sizing: border-box; }
.ckeditorWrap .whitebelgPostedPhotoDirectionBtn li { width: 50%; display: table-cell; }
.ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnPrev { text-align: left; padding: 0 30px 0 0; }
.ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnNext { text-align: right; padding: 0 0 0 30px; }
.ckeditorWrap .whitebelgTopPageSpecialLecture h2 { margin: 0 0 10px; }
.ckeditorWrap .whitebelgTopPageSpecialLecture p { margin: 0 10px 5px; }
.ckeditorWrap .whitebelgTopPageSpecialLectureInner { padding: 10px 25px 30px; }
.ckeditorWrap .whitebelgTopPageSpecialLectureList li { margin: 0 0 15px; }
.ckeditorWrap .whitebelgTopPageBrandSiteBnr { margin: 0 5px 20px; }
.ckeditorWrap .whitebelgSocietyLeadTtl { font-size: 20px; text-align: center; margin: 10px 0; }
.ckeditorWrap .whitebelgSocietyTtl { margin: 5px 0 20px; }
.ckeditorWrap .whitebelgSocietyCampaign1 { margin: 0 0 25px; }
.ckeditorWrap .whitebelgSocietyCampaignDate { color: #fff; text-align: center; margin: 15px 0 5px; font-size: 16px; }
.ckeditorWrap .whitebelgSocietyMonitor { margin: 0 0 20px; }
.ckeditorWrap .whitebelgSocietyMonitor h2 { margin: 0 0 10px; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries { padding: 0 5px 10px; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry { cursor: pointer; clear: both; position: relative; border: solid; border-width: 3px 3px 3px 3px; margin: 10px auto 13px; border-image: url(../img/base/bgFrame.png) 3 3 3 3 repeat repeat; -moz-border-image: url(../img/base/bgFrame.png) 3 3 3 3 repeat repeat; -webkit-border-image: url(../img/base/bgFrame.png) 3 3 3 3 repeat repeat; box-sizing: border-box; color: #fff; padding: 10px; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry .mpSimpleSliderEntryPhoto { float: right; width: 90px; margin: 0 0 0 5px; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry .mpSimpleSliderEntryPhotoImage { display: none; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry:after { clear: both; content: ""; position: absolute; left: 5px; bottom: -13px; width: 14px; height: 13px; background: url(../img/society/baloonBottom1.png); background-size: 14px 13px; }
.ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry .mpSimpleSliderEntryInner:after { content: ""; clear: both; display: table; }
.ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries { padding: 5px 5px 10px; }
.ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries .mpSimpleSliderEntry { cursor: pointer; clear: both; position: relative; background: #fff; padding: 10px; margin: 0 0 17px; line-height: 1.5; }
.ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries .mpSimpleSliderEntry:after { clear: both; content: ""; position: absolute; left: 5px; bottom: -7px; width: 14px; height: 7px; background: url(../img/society/baloonBottom2.png); background-size: 14px 7px; }
.ckeditorWrap .whitebelgSocietyLearning p { color: #fff; }
.ckeditorWrap .whitebelgSocietyLearning sup { vertical-align: super; font-size: smaller; }
.ckeditorWrap .whitebelgSocietyLearning small { font-size: 11px; }
.ckeditorWrap .whitebelgSocietyLearningList { padding: 10px 5px 0; }
.ckeditorWrap .whitebelgSocietyLearningList li { margin: 0 0 15px; }
.ckeditorWrap .whitebelgSocietyLearningList .ttlWhitebelgLearningQuestion { margin: 0 0 5px; }
.ckeditorWrap .whitebelgSocietyBrandSiteBnr { text-align: center; margin: 30px 10px; }
.ckeditorWrap .whitebelgAboutSeminarHeader { margin: 0 0 10px; }
.ckeditorWrap .whitebelgJoinSeminarBtn { margin: 10px 25px; }
.ckeditorWrap .whitebelgAboutSeminarMemberComment { position: relative; border: solid; border-width: 2px 2px 2px 2px; margin: 10px auto 13px; border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; -moz-border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; -webkit-border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; box-sizing: border-box; color: #fff; padding: 10px; }
.ckeditorWrap .whitebelgAboutSeminarMemberComment:before { content: ""; display: block; width: 22px; height: 16px; background: url(../img/about/baloonTop.png) 0 0 no-repeat; background-size: 22px 16px; position: absolute; right: 5px; top: -16px; }
.ckeditorWrap .whitebelgAboutSeminarMemberComment p { margin: 0 0 1em; }
.ckeditorWrap .whitebelgAboutSeminarMemberComment b { font-size: 120%; }
.ckeditorWrap .whitebelgAboutSeminarMemberProf { margin: 0 0 15px; }
.ckeditorWrap .whitebelgAboutSeminarMemberProfData { color: #fff; }
.ckeditorWrap .whitebelgAboutSeminarMemberProfData dt { display: block; font-weight: bold; margin: 10px 0 0; }
.ckeditorWrap .whitebelgAboutSeminarMemberProfData dt:after { content: "："; }
.ckeditorWrap .whitebelgAboutSeminarMemberProfData dt:first-child { display: inline-block; }
.ckeditorWrap .whitebelgAboutSeminarMemberProfData dd { display: inline-block; }
.ckeditorWrap .whitebelgAboutSeminarCecilReco { background: url(../img/about/lineDouble.gif) 0 100% repeat-x; background-size: 300px 10px; padding-bottom: 15px; margin: 0 0 30px; }
.ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoTtl { margin: 0 0 15px; }
.ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li { color: #fff; margin: 0 0 10px; }
.ckeditorWrap .whitebelgAboutSeminarBnrList > li { margin: 0 0 20px; padding: 0 0 20px; background: url(../img/about/line.png) 0 100% repeat-x; background-size: 300px 2px; color: #fff; }
.ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListImg { margin: 0 45px 10px; }
.ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListBtn { margin: 10px 60px 0; }
.ckeditorWrap .whitebelgScholarshipTtl { margin: 0 0 10px; }
.ckeditorWrap .whitebelgScholarshipLead { margin: 0 0 20px; color: #fff; }
.ckeditorWrap .whitebelgScholarshipLead b { font-weight: bold; font-size: 110%; }
.ckeditorWrap .whitebelgShcorarshipCampaignDateCaution { text-align: center; color: #fff; margin: 0 0 5px; font-weight: bold; font-size: 110%; }
.ckeditorWrap .whitebelgScholarshipOutline { padding: 10px; color: #fff; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineTtl1 { text-align: center; font-weight: bold; font-size: 14px; margin: 0 0 15px; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineTtl2 { font-weight: bold; font-size: 14px; margin: 0 0 15px; }
.ckeditorWrap .whitebelgScholarshipOutline p { margin: 0 0 1em; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineCaution { background: #fff; padding: 15px; color: #000; margin: 0 0 2em; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineCaution li { text-indent: -1em; padding-left: 1em; margin: 0 0 .5em; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipIncentive { background: #fff; border-left: 1px solid #ddd; border-top: 1px solid #ddd; width: 100%; color: #000; margin: 0 0 2em; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipIncentive thead th { text-align: center; background: #F2F2F2; word-break: break-word; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipIncentive th { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px; font-weight: bold; word-break: keep-all; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipIncentive td { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px; }
.ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineNotes li { text-indent: -1em; padding-left: 1em; margin: 0 0 .5em; }
.ckeditorWrap .whitebelgLectureHeader { margin: 0 0 20px; }
.ckeditorWrap .whitebelgLectureLead { border: solid; border-width: 10px 10px 10px 10px; margin: 0 auto 20px; border-image: url(../img/base/bgDoubleLine.png) 10 repeat repeat; -moz-border-image: url(../img/base/bgDoubleLine.png) 10 repeat repeat; -webkit-border-image: url(../img/base/bgDoubleLine.png) 10 repeat repeat; box-sizing: border-box; color: #fff; padding: 15px; }
.ckeditorWrap .whitebelgLectureCont { padding: 5px; background: #fff; box-sizing: border-box; }
.ckeditorWrap .whitebelgLectureCont .whitebelgLectureContTtl1 { color: #375c4a; font-size: 15px; font-weight: bold; margin: 0 0 5px; }
.ckeditorWrap .whitebelgLectureContInner { padding: 10px; }
.ckeditorWrap .whitebelgLectureContAuthor1 { display: inline-block; margin: 0 5px 0 0; background: #375c4a; padding: 0 5px; color: #fff; }
.ckeditorWrap .whitebelgLectureContAuthor2 { display: inline-block; margin: 0 5px 0 0; background: #FDD000; padding: 0 5px; color: #375c4a; }
.ckeditorWrap .whitebelgLectureContGuest { background: #EBEBEB; padding: 15px; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestHeader { display: table; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfImg { display: table-cell; vertical-align: middle; width: 65px; padding: 0 10px 0 0; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProf { display: table-cell; vertical-align: middle; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfLabel { display: inline-block; margin: 0 0 5px; background: #FDD000; padding: 2px 5px; color: #303030; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfName { font-weight: bold; margin-bottom: 5px; font-size: 14px; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfPosition { font-size: 12px; }
.ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestComment { clear: both; padding-top: 10px; }

/* end ckeditorWrap */
.pagePartsWrap .whitebelgScholarshipCurrentCampaignBtn { padding: 0 35px 20px; }

/* for PC 
================================================================================================================================================================================ */
@media screen and (min-width: 641px) { body > article { border: solid; border-width: 6px; border-image: url(../img/base/bgFrame.png) 6 6 6 6 repeat repeat; -moz-border-image: url(../img/base/bgFrame.png) 6 6 6 6 repeat repeat; -webkit-border-image: url(../img/base/bgFrame.png) 6 6 6 6 repeat repeat; box-sizing: border-box; padding: 0 !important; background: transparent; width: 960px !important; }
  .ckeditorWrap { /* society */ /* about seminar */ /* stamp */ /* lecture */ }
  .ckeditorWrap .whitebelgSPHidden { display: block; }
  .ckeditorWrap .whitebelgTopPageSlider img { display: none; }
  .ckeditorWrap .whitebelgTopPageSlider a { display: block; width: 850px; height: 460px; }
  .ckeditorWrap .whitebelgTopPageSlider a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgTopPageSlider .whitebelgTopPageSlider1 a { background: url(../img/index/pc/slide/slide1.jpg) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSlider .whitebelgTopPageSlider2 a { background: url(../img/index/pc/slide/slide2.jpg) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSlider .whitebelgTopPageSlider3 a { background: url(../img/index/pc/slide/slide3.jpg) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSlider .whitebelgTopPageSlider4 a { background: url(../img/index/pc/slide/slide4.jpg) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSlider .whitebelgTopPageSlider5 a { background: url(../img/index/pc/slide/slide5.jpg) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageScholarshipBnr { margin: 0 0 30px; }
  .ckeditorWrap .whitebelgTopPageScholarshipBnr img { display: none; }
  .ckeditorWrap .whitebelgTopPageScholarshipBnr li { width: 910px; height: 233px; display: block; }
  .ckeditorWrap .whitebelgTopPageScholarshipBnr a { display: block; width: 910px; height: 233px; background: url(../img/index/pc/bnrScholarship.png) 0 0 no-repeat; margin: 0 auto; }
  .ckeditorWrap .whitebelgTopPageScholarshipBnr a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgTopPageTheme { text-align: center; }
  .ckeditorWrap .whitebelgTopPageTheme h2 { width: 828px; height: 77px; background: url(../img/index/pc/ttlTheme.png) 0 0 no-repeat; margin: 0 auto 10px; }
  .ckeditorWrap .whitebelgTopPageTheme h2 img { display: none; }
  .ckeditorWrap .whitebelgTopPageTheme p { margin: 0 0 20px; }
  .ckeditorWrap .whitebelgTopPageTheme h3.whitebelgTopPageThemeTtl1 { width: 600px; height: 72px; background: url(../img/index/pc/ttlTheme1.png) 0 0 no-repeat; margin: 0 auto 10px; }
  .ckeditorWrap .whitebelgTopPageTheme h3.whitebelgTopPageThemeTtl1 img { display: none; }
  .ckeditorWrap .whitebelgTopPageTheme .whitebelgBtnPostPhoto a { display: block; margin: 0 auto 20px; width: 230px; height: 48px; background: url(../img/index/pc/btnPostPhoto.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageTheme .whitebelgBtnPostPhoto a:hover { opacity: .65; }
  .ckeditorWrap .whitebelgTopPageTheme .whitebelgBtnPostPhoto img { display: none; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn { clear: both; padding: 20px 0 30px; display: table; width: 828px; margin: 0 auto 40px; box-sizing: border-box; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li { width: 50%; display: table-cell; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnPrev img { display: none; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnPrev a { display: inline-block; width: 78px; height: 32px; background: url(../img/index/pc/btnThumbPrev.png); visibility: hidden; opacity: 0; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnPrev a.whitebelgBtnActive { visibility: visible; opacity: 1; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnPrev a.whitebelgBtnActive:hover { opacity: .75; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnNext img { display: none; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnNext a { display: inline-block; width: 78px; height: 32px; background: url(../img/index/pc/btnThumbNext.png); visibility: hidden; opacity: 0; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnNext a.whitebelgBtnActive { visibility: visible; opacity: 1; }
  .ckeditorWrap .whitebelgPostedPhotoDirectionBtn li.whitebelgPostedPhotoDirectionBtnNext a.whitebelgBtnActive:hover { opacity: .75; }
  .ckeditorWrap .whitebelgTopPageSpecialLecture { text-align: center; }
  .ckeditorWrap .whitebelgTopPageSpecialLecture h2 { width: 828px; height: 77px; background: url(../img/index/pc/ttlSpecialLecture.png) 0 0 no-repeat; margin: 0 auto 10px; }
  .ckeditorWrap .whitebelgTopPageSpecialLecture h2 img { display: none; }
  .ckeditorWrap .whitebelgTopPageSpecialLecture p { margin: 0 10px 5px; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureInner { padding: 10px 25px 30px; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList { font-size: 0; text-align: center; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li { font-size: 13px; display: inline-block; margin: 0 22px 22px; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li img { display: none; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li a, .ckeditorWrap .whitebelgTopPageSpecialLectureList li span { display: block; width: 348px; height: 225px; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList1 a, .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList1 span { background: url(../img/index/pc/btnSpecialLecture1.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList2 a, .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList2 span { background: url(../img/index/pc/btnSpecialLecture2.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList3 a, .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList3 span { background: url(../img/index/pc/btnSpecialLecture3.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList4 a, .ckeditorWrap .whitebelgTopPageSpecialLectureList li.whitebelgTopPageSpecialLectureList4 span { background: url(../img/index/pc/btnSpecialLecture4.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageBrandSiteBnr { position: absolute; bottom: -190px; left: 50%; margin-left: -200px; }
  .ckeditorWrap .whitebelgTopPageBrandSiteBnr img { display: none; }
  .ckeditorWrap .whitebelgTopPageBrandSiteBnr a { display: block; width: 400px; height: 116px; background: url(../img/index/pc/bnrFootBrandSite.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgTopPageBrandSiteBnr a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgSocietyHeader { margin: 30px 0 40px; text-align: center; }
  .ckeditorWrap .whitebelgSocietyHeader img { display: none; }
  .ckeditorWrap .whitebelgSocietyHeader .whitebelgSocietyTtl { background: url(../img/society/pc/ttlSociety.png) 50% 0 no-repeat; height: 461px; }
  .ckeditorWrap .whitebelgSocietyHeader .whitebelgSocietyTtl1 { position: relative; margin: -40px 0 0; background: url(../img/society/pc/ttlSociety1.png) 170px 0 no-repeat; height: 156px; }
  .ckeditorWrap .whitebelgSocietyLeadTtl { font-size: 28px; text-align: center; margin: 10px 0; }
  .ckeditorWrap .whitebelgSocietyTtl { margin: 5px 0 20px; }
  .ckeditorWrap .whitebelgSocietyCampaign1 { margin: 0 0 5px; }
  .ckeditorWrap .whitebelgSocietyCampaign1 a { display: block; width: 837px; height: 133px; margin: 0 auto; background: url(../img/society/pc/btnSociety1.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyCampaign1 a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgSocietyCampaignDate { font-size: 18px; margin: 20px 0 0; }
  .ckeditorWrap .whitebelgSocietyMonitor { margin: 0 0 20px; }
  .ckeditorWrap .whitebelgSocietyMonitor .whitebelgSocietyMonitorTtl { margin: 0 0 10px; background: url(../img/society/pc/ttlMonitor.png) 50% 0 no-repeat; height: 80px; }
  .ckeditorWrap .whitebelgSocietyMonitor .whitebelgSocietyMonitorTtl img { display: none; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries { padding: 5px 5px 10px; margin-left: 28px; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry { clear: none; position: relative; border: solid; border-width: 2px 2px 2px 2px; margin: 0 2px; border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; -moz-border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; -webkit-border-image: url(../img/base/bgFrame.png) 2 2 2 2 repeat repeat; box-sizing: border-box; color: #fff; padding: 10px; width: 216px; float: left; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry .mpSimpleSliderEntryPhoto { display: block; height: 144px; width: 192px; float: none; background: #ccc; margin: 0 0 5px; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry img { display: none; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry:after { clear: both; content: ""; position: absolute; left: 5px; bottom: -12px; width: 14px; height: 13px; background: url(../img/society/baloonBottom1.png); background-size: 14px 13px; }
  .ckeditorWrap #moniplaPage--photoOutputMonitor--entries .mpSimpleSliderEntry .mpSimpleSliderEntryComment { height: 48px; }
  .ckeditorWrap .whitebelgSocietyHowToEnjoy { margin: 0 0 20px; }
  .ckeditorWrap .whitebelgSocietyHowToEnjoy .whitebelgSocietyHowToEnjoyTtl { margin: 0 0 10px; background: url(../img/society/pc/ttlWhitebelgHowToEnjoy.png) 50% 0 no-repeat; height: 80px; }
  .ckeditorWrap .whitebelgSocietyHowToEnjoy .whitebelgSocietyHowToEnjoyTtl img { display: none; }
  .ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries { padding: 5px 5px 10px; margin-left: 34px; }
  .ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries .mpSimpleSliderEntry { clear: none; position: relative; background: #fff; padding: 10px; margin: 0 2px 11px; width: 214px; float: left; box-sizing: border-box; height: 150px; }
  .ckeditorWrap #moniplaPage--photoOutputHowToEnjoy--entries .mpSimpleSliderEntry:after { clear: both; content: ""; position: absolute; left: 5px; bottom: -7px; width: 14px; height: 7px; background: url(../img/society/baloonBottom2.png); background-size: 14px 7px; }
  .ckeditorWrap .whitebelgSocietyLearning p { color: #fff; }
  .ckeditorWrap .whitebelgSocietyLearningList { padding: 10px 5px 0; }
  .ckeditorWrap .whitebelgSocietyLearningList li { margin: 0 0 15px; }
  .ckeditorWrap .whitebelgSocietyLearningList .ttlWhitebelgLearningQuestion { margin: 0 0 5px; }
  .ckeditorWrap .whitebelgSocietyBrandSiteBnr { text-align: center; margin: 30px 10px; }
  .ckeditorWrap .whitebelgSocietyLearning { border: solid; border-width: 9px 9px 9px 9px; margin: 0 55px 40px; border-image: url(../img/society/pc/bgLearning.png) 9 9 9 9 repeat repeat; -moz-border-image: url(../img/society/pc/bgLearning.png) 9 9 9 9 repeat repeat; -webkit-border-image: url(../img/society/pc/bgLearning.png) 9 9 9 9 repeat repeat; box-sizing: border-box; position: relative; padding: 50px 5px 94px 386px; }
  .ckeditorWrap .whitebelgSocietyLearning:before { content: ""; display: block; width: 321px; height: 678px; background: url(../img/society/pc/imgLearning.png) 0 0 no-repeat; position: absolute; left: -60px; bottom: -6px; }
  .ckeditorWrap .whitebelgSocietyLearning img { display: none; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyLearningTtl { position: absolute; top: -32px; left: 0; right: 0; height: 56px; background: url(../img/society/pc/ttlLearning.png) 50% 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .ttlWhitebelgLearningQuestion { position: absolute; right: 450px; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyLearningList small { font-size: 12px; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyLearningList1 .ttlWhitebelgLearningQuestion { width: 195px; height: 136px; top: 59px; background: url(../img/society/pc/ttlQ1.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyLearningList2 .ttlWhitebelgLearningQuestion { width: 198px; height: 111px; top: 237px; background: url(../img/society/pc/ttlQ2.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyLearningList3 .ttlWhitebelgLearningQuestion { width: 224px; height: 137px; top: 424px; background: url(../img/society/pc/ttlQ3.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .txtWhitebelgLearningAnswer { font-size: 15px; line-height: 1.4; }
  .ckeditorWrap .whitebelgSocietyLearning .txtWhitebelgLearningAnswer:before { content: ""; display: block; width: 111px; height: 27px; background: url(../img/society/pc/txtBecause.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyBrandSiteBnr { position: absolute; bottom: 10px; right: 10px; background: url(../img/society/pc/bgBnrBrandSite.png) 0 0 no-repeat; width: 587px; margin: 0; height: 101px; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyBrandSiteBnr a { display: block; position: absolute; bottom: 20px; right: 0; width: 266px; height: 81px; background: url(../img/society/pc/bnrBrandSite.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgSocietyLearning .whitebelgSocietyBrandSiteBnr a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgAboutSeminarHeader { margin: 30px 0 0; }
  .ckeditorWrap .whitebelgAboutSeminarHeader img { display: none; }
  .ckeditorWrap .whitebelgAboutSeminarHeader .whitebelgAboutTtl { height: 469px; background: url(../img/about/pc/ttlAbout.png) 50% 0 no-repeat; margin: 0 0 40px; }
  .ckeditorWrap .whitebelgAboutSeminarLead { width: 570px; margin: 0 auto 40px; background: url(../img/about/pc/imgLead.png) 10px 25% no-repeat; padding-left: 290px; }
  .ckeditorWrap .whitebelgAboutSeminarLead .whitebelgSerif { font-size: 16px; line-height: 1.4; }
  .ckeditorWrap .whitebelgAboutSeminarLead .whitebelgSerif b { font-size: 20px; }
  .ckeditorWrap .whitebelgJoinSeminarBtn { margin: 30px 0 0 -20px; }
  .ckeditorWrap .whitebelgJoinSeminarBtn a { display: block; width: 355px; height: 58px; background: url(../img/about/pc/btnJoin.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgJoinSeminarBtn a:hover { opacity: .75; }
  .ckeditorWrap .whitebelgAboutSeminarMember { position: relative; width: 844px; margin: 0 auto 40px; padding-top: 180px; }
  .ckeditorWrap .whitebelgAboutSeminarMember img { display: none; }
  .ckeditorWrap .whitebelgAboutSeminarMember .whitebelgAboutSeminarMemberTtl { position: absolute; top: 0; left: 0; background: url(../img/about/pc/imgCecil.png) 0 0 no-repeat; height: 356px; width: 844px; }
  .ckeditorWrap .whitebelgAboutSeminarMemberComment { position: relative; border: solid; border-width: 4px; margin: 0 0 40px; width: 490px; float: left; border-image: url(../img/base/bgFrameRad.png) 4 repeat repeat; -moz-border-image: url(../img/base/bgFrameRad.png) 4 repeat repeat; -webkit-border-image: url(../img/base/bgFrameRad.png) 4 repeat repeat; box-sizing: border-box; color: #fff; padding: 20px; font-size: 15px; line-height: 1.3; }
  .ckeditorWrap .whitebelgAboutSeminarMemberComment:before { content: ""; display: block; width: 46px; height: 34px; background: url(../img/about/pc/baloonTop.png) 0 0 no-repeat; position: absolute; right: -40px; top: 20px; }
  .ckeditorWrap .whitebelgAboutSeminarMemberComment p { margin: 0 0 1em; }
  .ckeditorWrap .whitebelgAboutSeminarMemberComment p:last-child { margin: 0; }
  .ckeditorWrap .whitebelgAboutSeminarMemberComment b { font-size: 120%; }
  .ckeditorWrap .whitebelgAboutSeminarMemberProf { margin: 0 0 40px; float: right; width: 308px; padding-top: 180px; }
  .ckeditorWrap .whitebelgAboutSeminarMemberProfData { color: #fff; }
  .ckeditorWrap .whitebelgAboutSeminarMemberProfData dt { display: block; font-weight: bold; }
  .ckeditorWrap .whitebelgAboutSeminarMemberProfData dt:after { content: "："; }
  .ckeditorWrap .whitebelgAboutSeminarMemberProfData dt:first-child { display: inline-block; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco { clear: both; background: none; padding: 20px 50px; margin: 0 auto 80px; position: relative; border: solid; border-width: 3px 3px 3px 3px; border-image: url(../img/base/bgFrameDot.png) 3 3 3 3 repeat repeat; -moz-border-image: url(../img/base/bgFrameDot.png) 3 3 3 3 repeat repeat; -webkit-border-image: url(../img/base/bgFrameDot.png) 3 3 3 3 repeat repeat; width: 835px; box-sizing: border-box; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco:after { clear: both; content: ""; display: block; width: 837px; height: 324px; background: url(../img/about/pc/bgReco.png) 0 0 no-repeat; position: absolute; left: 0; right: 0; bottom: -32px; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco img { display: none; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoTtl { margin: 0 0 20px; height: 47px; background: url(../img/about/pc/ttlHowToEnjoy.png) 50% 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList:after { display: block; clear: both; content: ''; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li { color: #fff; margin: 0 0 20px; float: left; width: 50%; box-sizing: border-box; padding-right: 30px; font-size: 15px; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li:nth-child(odd) { clear: left; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3 { height: 26px; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl1 { background: url(../img/about/pc/reco1.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl2 { background: url(../img/about/pc/reco2.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl3 { background: url(../img/about/pc/reco3.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl4 { background: url(../img/about/pc/reco4.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl5 { background: url(../img/about/pc/reco5.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl6 { background: url(../img/about/pc/reco6.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarCecilReco .whitebelgAboutSeminarCecilRecoList li h3.whitebelgAboutSeminarCecilRecoListTtl7 { background: url(../img/about/pc/reco7.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarBnr { padding-left: 60px; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li { margin: 0 28px 45px 0; padding: 0 0 20px; background: none; width: 404px; float: left; font-size: 15px; position: relative; padding-bottom: 60px; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListImg { margin: 0 0px 10px; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListBtn { position: absolute; bottom: 0; left: 50%; margin-left: -86px; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListBtn img { display: none; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListBtn a { display: block; width: 174px; height: 42px; background: url(../img/about/pc/btnDetail.png) 0 0 no-repeat; }
  .ckeditorWrap .whitebelgAboutSeminarBnrList > li .whitebelgAboutSeminarBnrListBtn a:hover { opacity: .7; }
  .ckeditorWrap .whitebelgScholarshipTtl { margin: 0 0 20px; height: 230px; background: url(../img/scholarship/pc/ttlScholarship.png) 50% 0 no-repeat; }
  .ckeditorWrap .whitebelgScholarshipTtl img { display: none; }
  .ckeditorWrap .whitebelgScholarshipLead { text-align: center; margin: 0 0 20px; font-size: 15px; }
  .ckeditorWrap .whitebelgScholarshipLead b { font-weight: bold; font-size: 18px; }
  .ckeditorWrap .whitebelgShcorarshipCampaignDateCaution { font-size: 15px; margin: 0 0 10px; }
  .ckeditorWrap .whitebelgScholarshipOutline { border: 1px solid #fff; padding: 20px; color: #fff; width: 850px; margin: 0 auto 40px; font-size: 15px; }
  .ckeditorWrap .whitebelgScholarshipOutline .whitebelgScholarshipOutlineTtl1 { text-align: center; font-weight: bold; font-size: 14px; margin: 0 0 15px; font-size: 18px; }
  .ckeditorWrap .whitebelgLectureHeader { margin: 30px auto 35px; width: 828px; }
  .ckeditorWrap .whitebelgLectureHeader img { display: none; }
  .ckeditorWrap .whitebelgLectureHeader .whitebelgLectureTtl1 { background: url(../img/lecture1/pc/ttlLecture1.png); height: 363px; }
  .ckeditorWrap .whitebelgLectureLead { width: 800px; border: solid; border-width: 10px 10px 10px 10px; margin: 0 auto 35px; border-image: url(../img/base/pc/bgDoubleLine.png) 10 repeat repeat; -moz-border-image: url(../img/base/pc/bgDoubleLine.png) 10 repeat repeat; -webkit-border-image: url(../img/base/pc/bgDoubleLine.png) 10 repeat repeat; box-sizing: border-box; color: #fff; padding: 15px 60px; font-size: 15px; }
  .ckeditorWrap .whitebelgLectureCont { width: 800px; margin: 0 auto 35px; padding: 5px; background: #fff; font-size: 14px; line-height: 1.5; }
  .ckeditorWrap .whitebelgLectureCont .whitebelgLectureContTtl1 { font-size: 22px; margin: 0 0 15px; }
  .ckeditorWrap .whitebelgLectureContInner { padding: 45px; }
  .ckeditorWrap .whitebelgLectureContAuthor1 { margin: 0 10px 0 0; padding: 2px 8px; }
  .ckeditorWrap .whitebelgLectureContAuthor2 { margin: 0 10px 0 0; padding: 2px 8px; }
  .ckeditorWrap .whitebelgLectureContGuest { background: #EBEBEB; padding: 15px; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestHeader { display: table; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfImg { display: table-cell; vertical-align: middle; width: 65px; padding: 0 10px 0 0; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProf { display: table-cell; vertical-align: middle; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfLabel { display: inline-block; margin: 0 0 5px; background: #FDD000; padding: 2px 5px; color: #303030; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfName { font-weight: bold; margin-bottom: 5px; font-size: 14px; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestProfPosition { font-size: 12px; }
  .ckeditorWrap .whitebelgLectureContGuest .whitebelgLectureContGuestComment { clear: both; padding-top: 10px; }
  /* end ckeditroWrap */
  .pagePartsWrap .whitebelgScholarshipCurrentCampaignBtn { padding: 0 35px 35px; }
  .pagePartsWrap .whitebelgScholarshipCurrentCampaignBtn a { display: block; width: 495px; height: 78px; margin: auto; background: url(../img/scholarship/pc/btnCurrentStamp.png) 0 0 no-repeat; }
  .pagePartsWrap .whitebelgScholarshipCurrentCampaignBtn a:hover { opacity: .75; }
  .pagePartsWrap .whitebelgScholarshipCurrentCampaignBtn img { display: none; }
  /* pagePartsWrap */ }
/* end for PC */
/* plugin setting base */
#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntry { display: block; float: left; width: 33.3%; box-sizing: border-box; padding: 0 3px 6px; }

#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntry img { display: block; width: 100%; height: auto; }

#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntryPhoto a { display: block; }

#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntryPhoto img.mpSimpleThumbSlideshowEntryPhotoImage { display: none; }

#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntryTitle { display: none; }

#moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntryComment { display: none; }

#moniplaPage--photoOutput--button { display: block; padding: 20px; width: 100%; box-sizing: border-box; margin: 0 auto; border: 0; box-shadow: none; background: rgba(0, 0, 0, 0.8); color: #fff; font-size: 24px; }

#mpSimpleThumbSlideshowOverlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.75); }

#mpSimpleThumbSlideshowModal { position: absolute; left: 20px; right: 20px; }

#mpSimpleThumbSlideshowModalInner { width: 100%; background: #fff; padding: 10px 10px 40px; position: relative; box-sizing: border-box; }

#mpSimpleThumbSlideshowModal img { max-width: 100%; height: auto; }

#mpSimpleThumbSlideshowModal .mpSimpleThumbSlideshowEntryPhoto { margin: 0 0 10px; }

#mpSimpleThumbSlideshowModal .mpSimpleThumbSlideshowEntryPhoto img.mpSimpleThumbSlideshowEntryPhotoImage { display: block; margin: 0 auto 10px; }

#mpSimpleThumbSlideshowModal .mpSimpleThumbSlideshowEntryTitle { font-weight: bold; }

#mpSimpleThumbSlideshowModalCloseButton { position: absolute; bottom: 10px; left: 50%; margin-left: -10px; width: 20px; height: 20px; background: url(../img/base/btnCloseModal.gif) 0 0 no-repeat; background-size: 20px 20px; text-indent: -9999px; overflow: hidden; }

/* plugin setting pc */
@media screen and (min-width: 641px) { #moniplaPage--photoOutput--entries { width: 840px; margin: 0 auto; }
  #moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntry { width: 140px; padding: 0 6px; }
  #moniplaPage--photoOutput--entries .mpSimpleThumbSlideshowEntryPhoto { box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }
  #moniplaPage--photoOutput--button { width: 828px; }
  #mpSimpleThumbSlideshowModal { left: 50%; right: auto; }
  #mpSimpleThumbSlideshowModalInner { width: 720px; margin-left: -360px; padding-bottom: 90px; }
  #mpSimpleThumbSlideshowModal .mpSimpleThumbSlideshowEntryPhoto img { display: none; }
  #mpSimpleThumbSlideshowModal .mpSimpleThumbSlideshowEntryPhoto img.mpSimpleThumbSlideshowEntryPhotoImage { display: block; }
  #mpSimpleThumbSlideshowModalCloseButton { position: absolute; bottom: 30px; left: 50%; margin-left: -20px; width: 40px; height: 40px; background-size: 40px 40px; text-indent: -9999px; overflow: hidden; } }
